body {
    font-family: 'Indie Flower', cursive;
    /* font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif; */
    margin: 0; /* ページのマージンをゼロに設定 */
    padding: 0; /* ページのパディングをゼロに設定 */
    background-image: url('./images/coffee.jpg'); /* 画像のパスを指定 */
    background-size: cover; /* 画像をブラウザの表示領域にカバーさせる */
    /* background-position: center; 画像を中央に配置する */
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
    height: 100vh; /* ビューポートの高さいっぱいに背景を広げる */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.home {
    margin: 60px auto;
}


h1 {
    text-align: center;
    color: #fff;
}
.tab {
    width: 500px;
    margin: 20px auto;
    position: relative; /* positionを指定してz-indexが効くようにする */
}
.tab-nav {
    /* 横並び */
    display: flex;
}
.tab-nav-item {
    margin-right: 3px;
    background: rgba( 0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 0px 1px rgba( 0, 0, 0, 0.3)
}
/* タブのアクティブ状態のためのCSS is-activeがついてる時だけ色が変わる*/
.tab-nav-item.is-active {
    background: rgba( 255, 255, 255, 0.6);
    color: rgba( 0, 0, 0, 0.9);
}
.tab-contents {
    background-color: rgba( 255, 255, 255, 0.6);
    /* border: 1px solid #ccc; */
    padding: 20px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 2px 2px 3px rgba( 0, 0, 0, 0.3)
}
.tab-contents-item {
    /* いったん「display:none」で要素を非表示にする */
    display: none;
    
}